nav {
  height: 120px;
  width: 100%;
  background-color: #0064de;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5em;
  z-index: 1000;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

/* Right side */
nav div {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav div:hover {
  color: #ffcc00;
}

nav div:hover .fas {
  color: #ffcc00;
}

/* Bounce animation */
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

nav div .fas {
  color: red;
  font-size: 20px;
  animation: bounce 0.8s alternate infinite;
  transition: color 0.3s ease;
}

nav p {
  font-size: 20px;
  margin: 5px;
}

nav p a {
  font-weight: bold;
  text-decoration: none;
}

/*  Styles */
@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}
